html{
    scroll-behavior: smooth;
    
}

body{
text-align: center;
background-color: rgba(32, 178, 171, 0.733);;
font-family: cursive;    
}

h1{
color: red;
font-weight: bold;    
}

h2{
 color: red;
font-weight: bold;   
}

.Yt{
    background-color: pink;
}
.Office{

    background-color: orangered;
}
.So{
   background-color: darkgreen;
}
.Li{
    background-color: darkslategrey;
}
