html{
    scroll-behavior: smooth;
    
}

body{
text-align: center;
background-color: cadetblue;;
font-family: cursive;    
}

h1{
color: black;
font-weight: bold;    
}

h2{
 color: black;
font-weight: bold;   
}

.Yt{
    background-color: darkcyan;
}
.Office{

    background-color: orangered;
}
.So{
   background-color: darkgreen;
}
.Li{
    background-color: blueviolet;
}

.Movie{
    background-color: coral;
}

.Ph{
    background-color: crimson;
}

.bts{
    background-color: darkolivegreen;
}

.btv{
    background-color: maroon;
}

.btu{
    background-color: lightslategrey;
}
