html{
    scroll-behavior: smooth;
    
}

body{
text-align: center;
background-color: aquamarine;
font-family: cursive;    
}

h1{
color: red;
font-weight: bold;    
}

h2{
 color: red;
font-weight: bold;   
}